{% extends 'padre.html'%}

{% block content%}
    <figure style="text-align: center;">
        <h1>Buscar Clientes</h1>
    
        <form method="get">
            {{ form.as_p }}
            <input type="submit" value="Buscar">
        </form>
        {% if clientes%}
            <ul>
                {%for i in clientes%}
                <li>{{i.nombre}} / <a href="/eliminar_confirmar_cliente/{{i.id}}/">eliminar</a></li>
                {%endfor%}
            </ul>
        {%else%}
        <br>
            <p>no hay nada</p>
        {%endif%}
    </figure>
{%endblock%}