{% extends 'padre.html'%}

{% block content%}
    <figure style="text-align: center;">
        <br>
        <br>
        <h1>
            BUSCAR MENU
        </h1>
        <br>
        <br>
        <br>
        <h1>
            <button><a href="/buscar_clientes/">CLIENTES</a></button>
        </h1>
        <br>
        <br>
        <h1>
            <button><a href="/buscar_juegos/">JUEGOS</a></button>
        </h1>
        <br>
        <br>
        <h1>
            <button><a href="/buscar_plataformas/">PLATAFORMA</a></button>
        </h1>
    </figure>
{%endblock%}