<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #cabezera {

        margin: 0px;
        padding: 0px;
        list-style: none;
        text-transform: uppercase;
        text-align: center;
    }

    #cabezera li {

        display: inline;
        margin: 0 30px;
    }
</style>
<body>
    <ul id="cabezera">
        <li>
            <a href="/">BASE DE DATOS</a>
        </li>
        <li>
            <a href="/ingresar_menu/">agregar</a>
        </li>
        <li>
            <a href="/modificar_menu/">EDITAR</a>
        </li>
        <li>
            <a href="/buscar_menu/">BUSCAR</a>
        </li>
    </ul>
</body>
</html>