{% extends 'padre.html'%}

{% block content%}
<figure style="text-align: center;">
    <br>
    <br>
    <h1>INGRESAR MENU</h1>
    <br>
    <hr>
    <br>
    <h1>
        <button>
            <a href="/ingresar_cliente_opc/">INGRESAR CLIENTE</a>
        </button>
    </h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>
        <button>
            <a href="/ingresar_juego_opc/">INGRESAR JUEGO</a>
        </button>
    </h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>
        <button>
            <a href="/ingresar_plataforma_opc/">INGRESAR PLATAFORMA</a>
        </button>
    </h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>
        <button>
            <a href="/ingresar_union_opc/">INGRESAR UNION</a>
        </button>
    </h1>
</figure>

{% endblock %}